.nav {
    background-color: black !important;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scroll {
    top: 60px;
    background-color: blueviolet;
    height: 5px;
}

@media screen and (max-width: 414px) {

    .scroll {
        top: 66px;
    }

}

@media screen and (min-width: 415px) and (max-width: 576px) {
    .scroll {
        top: 52px;
    }

}